/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: yellow;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: #f8f8f8;
}

/* BUTTON */
.btn {
  background: #e31e25;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
